# Question: How does crime distribution vary by gender across the European countries?

In [50]:
import pandas as pd
import plotly.express as px
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import ipywidgets as widgets
from IPython.display import display
from joypy import joyplot
from es_ds_loader import *
import joypy
import matplotlib.pyplot as plt

In [ ]:
loader = EurostatDataLoader(cache_expiry=1800)
df = loader.load_dataset('ilc_mddw06')

(('format', 'json'),)
('hlth_dhc130', frozenset({('format', 'json')}))

Plot 1: Crime trends by age group over time
Joyplot: x-axis = year, y-axis = age groups, parameter = countries

In [52]:
df = df.dropna()
df = df[df['age'] == '16 years or over']
print(df)
df = df[['geo', 'time', 'sex', 'value']]

         freq        unit lev_limit               age      sex  \
4860   Annual  Percentage     Total  16 years or over    Total
4861   Annual  Percentage     Total  16 years or over    Total
4862   Annual  Percentage     Total  16 years or over    Total
4863   Annual  Percentage     Total  16 years or over    Total
4864   Annual  Percentage     Total  16 years or over    Total
...       ...         ...       ...               ...      ...
64784  Annual  Percentage      None  16 years or over  Females
64785  Annual  Percentage      None  16 years or over  Females
64786  Annual  Percentage      None  16 years or over  Females
64787  Annual  Percentage      None  16 years or over  Females
64796  Annual  Percentage      None  16 years or over  Females

                                                     geo  time  value
4860   European Union (EU6-1958, EU9-1973, EU10-1981,...  2010   14.1
4861   European Union (EU6-1958, EU9-1973, EU10-1981,...  2011   14.0
4862   European Union (EU6-1958, EU9-1973, EU10-1981,...  2012   13.5
4863   European Union (EU6-1958, EU9-1973, EU10-1981,...  2013   14.3
4864   European Union (EU6-1958, EU9-1973, EU10-1981,...  2014   13.9
...                                                  ...   ...    ...
64784                                            Türkiye  2018   10.9
64785                                            Türkiye  2019   10.7
64786                                            Türkiye  2020    9.8
64787                                            Türkiye  2023   10.2
64796                                            Kosovo*  2018    2.2

[7290 rows x 8 columns]

In [53]:
print(df['geo'].unique())

['European Union (EU6-1958, EU9-1973, EU10-1981, EU12-1986, EU15-1995, EU25-2004, EU27-2007, EU28-2013, EU27-2020)'
 'European Union - 27 countries (from 2020)'
 'European Union - 28 countries (2013-2020)'
 'European Union - 27 countries (2007-2013)'
 'Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015, EA20-2023)'
 'Euro area – 20 countries (from 2023)'
 'Euro area - 19 countries  (2015-2022)' 'Euro area - 18 countries (2014)'
 'Belgium' 'Bulgaria' 'Czechia' 'Denmark' 'Germany' 'Estonia' 'Ireland'
 'Greece' 'Spain' 'France' 'Croatia' 'Italy' 'Cyprus' 'Latvia' 'Lithuania'
 'Luxembourg' 'Hungary' 'Malta' 'Netherlands' 'Austria' 'Poland'
 'Portugal' 'Romania' 'Slovenia' 'Slovakia' 'Finland' 'Sweden' 'Iceland'
 'Norway' 'Switzerland' 'United Kingdom' 'Montenegro' 'North Macedonia'
 'Albania' 'Serbia' 'Türkiye' 'Kosovo*']

In [54]:
print(df['time'].unique())

['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2023']

In [55]:
eu_27_df = df[df['geo'] == 'European Union - 27 countries (from 2020)']

# Gib die Werte für die Jahre aus
print(eu_27_df['time'].unique())

print(eu_27_df)

['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020' '2023']
                                             geo  time      sex  value
4872   European Union - 27 countries (from 2020)  2010    Total   13.0
4873   European Union - 27 countries (from 2020)  2011    Total   13.1
4874   European Union - 27 countries (from 2020)  2012    Total   12.6
4875   European Union - 27 countries (from 2020)  2013    Total   14.0
4876   European Union - 27 countries (from 2020)  2014    Total   13.6
...                                          ...   ...      ...    ...
64279  European Union - 27 countries (from 2020)  2017  Females   10.8
64280  European Union - 27 countries (from 2020)  2018  Females   10.9
64281  European Union - 27 countries (from 2020)  2019  Females   10.1
64282  European Union - 27 countries (from 2020)  2020  Females   10.0
64283  European Union - 27 countries (from 2020)  2023  Females    9.1

[180 rows x 4 columns]